@import url("//hello.myfonts.net/count/32f709");

  
@font-face {font-family: 'MuseoSlab';font-weight: normal;font-style: normal;src: url('../fonts/32F709_0_0.eot');src: url('../fonts/32F709_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/32F709_0_0.woff2') format('woff2'),url('../fonts/32F709_0_0.woff') format('woff'),url('../fonts/32F709_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'MuseoSlab';font-weight: normal;font-style: italic;src: url('../fonts/32F709_1_0.eot');src: url('../fonts/32F709_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/32F709_1_0.woff2') format('woff2'),url('../fonts/32F709_1_0.woff') format('woff'),url('../fonts/32F709_1_0.ttf') format('truetype');}
 