/* 
 * $Forms
 */

 .form {
  margin-bottom: $lh-space * 2;
 }

.input-group:first-of-type {
  .section__secondary-heading {
    margin-top: 0;
  }
}

.input-group > * {
  display: block;
  width: 100%;
}