/*
 * $Header
 */
.page-header {
  padding: $sm-space 0 ($sm-space * 4);
  color: #ffffff;

  background-color: $primary-background-color;
}

.js .page-header {
  position: fixed;
  width: 100%;
  padding: 8px 0;
  z-index: 1;
  left: 0;
  right: 0;

  background-color: transparent;

  transition: transform 0.2s, background-color 0.2s;
}

.page-header.is-transitioning {
  transform: none !important;
}

.page-header.is-hidden {
  transform: translateY(-100%);
}

.page-header.is-past-offset {
  background-color: $primary-background-color;
}

.page-header__logo {
  width: 58px;
  height: 58px;
  margin: auto;
  display: block;
  fill: #ffffff;
  color: transparent;
  transform-origin: top center;

  transition: all 0.2s;

  @media screen and (min-width: $mq-md) {
    
  }
}

.is-past-offset .page-header__logo { 
  width: 40px;
  height: 40px;
}

.is-open .page-header__logo {
  fill: #ffffff;
  color: transparent;
  width: 58px;
  height: 58px;
}

.bg-circle {
  fill: currentColor;
}

.page-header__nav-toggle {
  display: none;
}

.js .page-header__nav-toggle {
  display: block;
  position: absolute;
  top: 0;
  right: ($sm-space / 2);
  padding: 28px ($sm-space / 2);
  margin: 0;

  span, span::before, span::after {
    display: block;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
    top: 0;
    left: 0;

    transition: background-color 0.2s, transform 0.2s;
  }

  span {
    position: relative;
  }

  span::before, span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
  }

  span::before {
    transform: translateY(-0.75rem);
  }

  span::after {
    transform: translateY(0.75rem);
  }

  @media screen and (min-width: $mq-md) {
    right: $sm-space * 2;
  }
}

.is-open .page-header__nav-toggle {
  span {
    background-color: transparent;
  }

  span::before, span::after {
    transform: translateY(0);
  }

  span::before {
    transform: rotate(45deg);
  }
  span::after {
    transform: rotate(-45deg);
  }
}