/*
 * $Header
 */
.page-header {
  background-color: #25396C;
  color: #ffffff;
  padding: 1.25rem 0;
  overflow-y: auto;
}

.page-header__logo {
  width: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.page-header__menu-toggle {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1.25rem;
  background-color: white;
  border: none;
  margin: 0;
  
  -webkit-appearance: none;
}

.js .page-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.js .page-header.is-collapsed {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: transparent;
}