/*
 * $Header
 */
.page-header {
  background-color: #25396C;
  color: #ffffff;
  padding: 1.25rem 0;
}

.page-header__logo {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  // margin-bottom: 2rem;
  display: block;
}

.page-header__title {
  /* hide this */
  clip: rect(1px, 1px, 1px, 1px); 
  height: 1px; 
  width: 1px; 
  overflow: hidden; 
  position: absolute !important;
}