.section {
  padding: 3rem 1.25rem;
}

.section__title {
  font-size: 2rem;
}

.section--about {
  background-image: url(../images/rb-headshot-sm@2x.png);
  background-color: #633730;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% 50%;
  color: #ffffff;

  h2 {
    margin-top: 6rem;
  }

  span {
    display: block;
  }
}