/* 
 * $Section
 */

.section {
  margin: 0 auto;
  width: 90vw;
  border-bottom: 1px solid $primary-color--light;
  padding-top: ($sm-space * 2);
  padding-bottom: ($lh-space * 2);

  @media screen and (min-width: $mq-md) {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    max-width: 768 / 18.88 * 1em;
  }
}

.section--about {
  background-image: url(../images/rb-headshot-sm.jpg);
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: #ffffff;
  width: 100%;
  max-width: 100%;
  border-bottom: none;

  margin-left: 0;
  margin-right: 0;
  padding-top: ($lh-space * 8);
  padding-bottom: ($lh-space * 2);

  @media (-webkit-min-device-pixel-ratio: 2), /* Webkit-based browsers */
         (min-resolution: 2dppx), /* The standard way */
         (min-resolution: 192dpi) /* dppx fallback */ {
    background-image: url(../images/rb-headshot-sm@2x.jpg);
  }

  @media screen and (min-width: $mq-md) {
    background-image: url(../images/rb-headshot-md.jpg);

    padding-top: 25vw;
    padding-bottom: 10vw;
  }

  @media screen and (min-width: $mq-md) and (-webkit-min-device-pixel-ratio: 2),
         screen and (min-width: $mq-md) and (min-resolution: 2dppx),
         screen and (min-width: $mq-md) and (min-resolution: 192dpi) {
    background-image: url(../images/rb-headshot-md@2x.jpg);
  }

  @media screen and (min-width: $mq-lg) {
    background-image: url(../images/rb-headshot-lg.jpg);

    padding-top: 25vw;
    padding-bottom: 10vw;
  }

  @media screen and (min-width: $mq-lg) and (-webkit-min-device-pixel-ratio: 2),
         screen and (min-width: $mq-lg) and (min-resolution: 2dppx),
         screen and (min-width: $mq-lg) and (min-resolution: 192dpi) {
    background-image: url(../images/rb-headshot-lg@2x.jpg);
  }
}

.section--about span {
  display: block;

  @media screen and (min-width: $mq-md) {
    display: inline;
  }
}

.section--about > * {
  width: 90vw;
  max-width: 26rem;
  padding: 0 5vw;

  @media screen and (min-width: $mq-md) {
    padding-left: 300 / 18.88 * 1rem;
    max-width: 768 / 18.88 * 1rem; // 768 is 80vw of 960, and 18.88px is 1rem at 960
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $mq-lg) {
    padding-right: 0;
  }
}

.section__list > li {
  padding-top: $lh-space;
}

.section__title {
  font-size: 2rem;
  /* 
   * line-height
   * margin-top
   * margin-bottom
   */
}

.section__secondary-heading {
  font-size: 0.875rem;
  line-height: calc(#{$line-height} / 0.875);

  // vertical offset
  position: relative;
  top: ( 1.25em / 1.375 ) * $line-height;

  font-family: $primary-font-stack;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.13em;

  color: $primary-color--light;
}

section:not(.section--experience) .section__secondary-heading {
  margin-top: 0.5rem;
}

.section__primary-heading {
  font-size: 1.125rem;
  line-height: calc(#{$line-height} / 1.125);
  margin-top: $lh-space;

  em {
    white-space: nowrap;
  }
}

.section__img {
  width: 100%;
  height: auto;
  margin: ($lh-space * 2) 0 0;

  @media screen and (min-width: $mq-md) {
    width: 100%;
    // margin-left: ($sm-space * -2);
    // margin-right: ($sm-space * -2);
  }
}

/* exceptions */
.section--projects > ul li:first-child .section__img {
  margin-top: -0.5625rem;
}