/* 
 * $Typography
 */

html {
  font-family: $primary-font-stack;
  font-weight: 400;
  line-height: $line-height;
  color: $text-color;

  font-size: $base-font-size;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  @media screen and (min-width: 400px) {
    font-size: calc(100% + 0.5vw);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $secondary-font-stack;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: -0.01em;
}

h1 {
  margin-top: 0;
  text-align: center;
}