// Colors
$primary-color: #06064F;
$primary-color--light: #7D7D9C;
$primary-background-color: #25396C;

$text-color: $primary-color;
$link-color: #2E30EB;
$link-color--hover: #FF4017;

// Fonts
$base-font-size: 16px;
$primary-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font-stack: "MuseoSlab", sans-serif;

// Media Queries
$mq-md: 42.5em;
$md-lg: 60em;

// Appearance
$radius: 3px;

// Spacing
$line-height: 1.5;
$lh-space: $line-height * 1rem;
$sm-space: 1.25rem;